* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:rgb(188, 213, 219);
    display: flex;
    justify-content: right;
    align-items: center;
}

.full {
    width: 50%;
    max-width: 1000px;
    min-height: 100px;
    background-color:rgb(130, 153, 179);
    margin: 0px;
    display: grid;
    grid-template-columns: 2fr 4fr;
}
.left {
    position: initial;
    background-color:rgb(185, 147, 147);
    padding: 20px;
 
}
.right {
    position: initial;
    background-color:rgb(212, 143, 64);
    padding: 20px;
 
}
.image, .Contact, .Skills, .Language, .Hobbies, .title,
.Summary,.Education, .projects {
    margin-bottom: 30px;
}
.h2 {
    background-color:red;
}