{% extends 'base.html'%}

{% block head %}
<title>Login page</title>
{% endblock %}


{% block body %}

<h2>Login</h2>
<form >
    
   
      <label for="loginUsername">Username</label>
				<input type="text" class="form-control" id="loginUsername" name="loginUsername"></br>

        <label for="loginPassword">Password</label>
				<input type="password" class="form-control" id="loginPassword" name="loginPassword"></br> 
  
        <button type="button" id="login" class="btn btn-primary" >Signin</button>
      
      
    <br/><br/>
   
    
      <p class="lead">
        <span>Reset Password</span> <a href="/reset" class="btn btn-success">Forgot Password</a>
      </p>
   
    </div>
  </form>

{% endblock %}
